<h2>お気に入り</h2>

<% @favorite_list.each do |favorite| %>
    <ul>
      <div class="article">
        <div class="content">
          <div class="content-sub">
            <% favorite_article = favorite.article %>
            <div class="content-sub">
              <%= image_tag favorite_article.user.image_url(:thumb_i) %>
              <%= link_to favorite_article.user.name, user_path(favorite_article.user_id) %>
              <div><h3><%= link_to favorite_article.title, article_path(favorite_article.id) %></h3></div>
            </div>
          </div>

          <%= render partial: "iframe", locals: { youtube_movie: favorite_article.youtube_url } %>

          <div class="content-sub">
          <% if user_signed_in? && favorite_user(favorite) %>
          <%= button_to "お気に入り削除", favorite_path(favorite.id), method: :delete, data: {confirm: "お気に入りから削除しますか？"}, class: 'btn btn-danger btn-xs' %>
          <% end %>
            <div><%= link_to "コメント", article_path(favorite_article.id) %> <%= favorite_article.comments.count %> 件</div>
          </div>

        </div>
      </div>
    </ul>
<% end %>


