
  <h1>Comment Edit</h1>


    <%= form_for ([@article, @comment]) do |f| %>

        <p>
          <%= f.label :comment %><br>
          <%= f.text_area :comment %>
          <% if @comment.errors.any? %>
              <%= @comment.errors.messages[:comment][0] %>
          <% end %>
        </p>

        <p>
          <%= f.submit %>
        </p>

    <% end %>

    <p><%= link_to "[Back]", article_path(@article.id) %></p>
