<div class="main">

  <h1>Comment Edit</h1>

  <div class="sidebar">
    <div>
      <h3>< New ></h3>
      <% @articles_new.each do |a| %>
          <li>
            <%= link_to a.title, article_path(a.id) %>
          </li>
      <% end %>
    </div>
  </div>


  <div class="contents">

    <%= form_for ([@article, @comment]) do |f| %>

        <p>
          <%= f.label :comment %><br>
          <%= f.text_area :comment %>
          <% if @comment.errors.any? %>
              <%= @comment.errors.messages[:comment][0] %>
          <% end %>
        </p>

        <p>
          <%= f.submit %>
        </p>

    <% end %>

    <p><%= link_to "[Back]", article_path(@article.id) %></p>

  </div>
</div>