
  <h1>コメント編集</h1>


    <%= form_for ([@article, @comment]) do |f| %>

        <p>
          <%= f.label :comment %><br>
          <%= f.text_area :comment %>
          <% if @comment.errors.any? %>
              <%= @comment.errors.messages[:comment][0] %>
          <% end %>
        </p>

        <p>
          <%= f.submit :"作成", :class => "btn btn-primary" %>
        </p>

    <% end %>

    <p><%= link_to "戻る", article_path(@article.id) %></p>
