<% articles.each do |article| %>
    <ul>
      <div class="article">
        <div class="content">
          <div class="content-sub">
            <% user = article.user %>
            <%= image_tag user.image_url(:thumb_i) %>
            <%= link_to user.name, user_path(user.id) %>
            <div><h3><%= link_to article.title, article_path(article.id) %></h3></div>
          </div>

          <iframe width="500" height="350" src="<%= article.youtube_url %>" frameborder="0" allowfullscreen></iframe>

          <div class="content-sub">

            <% if user_signed_in? %>
                <% if favorite_article?(article) %>
                    <%= button_to "お気に入り追加", favorite_favorite_path(article.id), method: :favorite, data: { confirm: "お気に入りに追加しますか" }, class: 'btn btn-primary btn-xs' %>
                <% else %>
                    <%= button_to "お気に入り削除", favorite_path(article.id), method: :delete, data: { confirm: "削除していいですか？" }, class: 'btn btn-danger btn-xs' %>
                <% end %>
            <% end %>

            <div><%= link_to "コメント", article_path(article.id) %> <%= article.comments.count %> 件</div>
          </div>
        </div>
      </div>
    </ul>
<% end %>
