<h2>Article Edit</h2>

<div class="sidebar">
  <div>
    <h3>< Pickup ></h3>
    <% @articles_pn.each do |a| %>
        <li>
          <%= link_to a.title, article_path(a.id) %>
        </li>
    <% end %>
    <h3>< New ></h3>
    <% @articles_pn.each do |a| %>
        <li>
          <%= link_to a.title, article_path(a.id) %>
        </li>
    <% end %>
  </div>
</div>


<div class="contents">
<%= form_for @article do |f| %>

    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
      <% if @article.errors.any? %>
          <%= @article.errors.messages[:title][0]%>
      <% end %>
    </p>

    <p>
      <%= f.label :content %><br>
      <%= f.text_field :content %>
    </p>

    <p>
      <%= f.submit %>
    </p>

<% end %>

<p><%= link_to "[Back]", articles_path %></p>
</div>