<div class="main">
  <h2>Article</h2>

  <div class="sidebar">
    <div>
      <h3>< New ></h3>
      <% @articles_new.each do |article| %>
          <li>
            <%= link_to article.title, article_path(article.id) %>
          </li>
      <% end %>
    </div>
  </div>

  <div class="contents">
    <%#= render partial: "articles/article_list", locals: {articles: @articles} %>
    <% @articles.each do |article| %>
        <ul>
          <div>
            <% user = User.find(article.user_id) %>
            <%= image_tag user.image_url(:thumb_i) %>
            <%= link_to user.name, user_path(user.id) %>
            <div><h3><%= link_to article.title, article_path(article.id) %></h3></div>
          </div>
          <iframe width="600" height="400" src="<%= article.movie %>" frameborder="0" allowfullscreen></iframe>
          <% if user_signed_in? %>
              <% if favorite_article?(article) %>
                  <%= button_to "お気に入り削除", favorite_destroy_article_path(article.id), method: :delete, data: {confirm: "削除していいですか？"} %>
              <% else %>
                  <%= button_to "お気に入り", favorite_article_path(article.id), method: :favorite, data: {confirm: "お気に入りに追加しますか"} %>
              <% end %>
          <% end %>
          <%= link_to "コメント",  new_article_comment_path(article.id) %>
        </ul>
    <% end %>
  </div>
</div>