  <h2>Article New</h2>



    <%= form_for @article do |f| %>

        <p>
          <%= f.label :title %><br>
          <%= f.text_field :title %>
          <% if @article.errors.any? %>
              <%= @article.errors.messages[:title][0]%>
          <% end %>
        </p>

        <p>
          <%= f.label :content %><br>
          <%= f.text_area :content %>
          <% if @article.errors.any? %>
              <%= @article.errors.messages[:content][0]%>
          <% end %>
        </p>

        <p>
          <%= f.label :youtube_url %><br>
          <%= f.url_field :movie %>
          <% if @article.errors.any? %>
              <%= @article.errors.messages[:movie][0]%>
          <% end %>
        </p>

        <p>
          <%= f.submit :"作成" %>
        </p>

    <% end %>

