<div class="main">
  <h2>Article New</h2>

  <div class="sidebar">
    <div>
      <h3>< New ></h3>
      <% @articles_new.each do |a| %>
          <li>
            <%= link_to a.title, article_path(a.id) %>
          </li>
      <% end %>
    </div>
  </div>
  <div class="contents">

    <%= form_for @article do |f| %>

        <p>
          <%= f.label :title %><br>
          <%= f.text_field :title %>
          <% if @article.errors.any? %>
              <%= @article.errors.messages[:title][0]%>
          <% end %>
        </p>

        <p>
          <%= f.label :content %><br>
          <%= f.text_area :content %>
          <% if @article.errors.any? %>
              <%= @article.errors.messages[:content][0]%>
          <% end %>
        </p>

        <p>
          <%= f.label :URL %><br>
          <%= f.url_field :movie %>
        </p>

        <p>
          <%= f.submit :"作成" %>
        </p>

    <% end %>

  </div>
</div>