<div class="main">

  <h2>User一覧</h2>

  <div class="sidebar">
    <div>
      <h3>< New ></h3>
      <% @articles_new.each do |a| %>
          <li>
            <%= link_to a.title, article_path(a.id) %>
          </li>
      <% end %>
    </div>
  </div>

  <div class="contents">
    <div>
      <% @users.each do |a| %>
          <li>
            <div class="article">
              <%= image_tag a.image_url(:thumb_i) %>
              <%= link_to a.name, user_path(a.id) %>
              <% if user_signed_in? %>
                  <% if !(current_user == a) %>
                      <% if follow?(a) %>
                          <%= link_to "follow", follow_user_path(a.id), data: {confirm: "フォローしますか？"}, method: :follow %>
                      <% else %>
                          <%= link_to "unfollow", follow_destroy_user_path(a.id), data: {confirm: "フォローを外しますか？"}, method: :delete %>
                      <% end %>
                  <% end %>
                  </div>
                  </li>
              <% end %>
      <% end %>
    </div>
  </div>
</div>