<div class="main">

  <h2>User一覧</h2>

  <div class="sidebar">
    <div>
      <h3>< New ></h3>
      <% @articles_new.each do |a| %>
          <li>
            <%= link_to a.title, article_path(a.id) %>
          </li>
      <% end %>
    </div>
  </div>

  <div class="contents">
    <div>
      <% @users.each do |a| %>
          <table>
            <tr>
            <div class="user">
              <div><td><%= image_tag a.image_url(:thumb_i) %></td></div>
              <div><td><%= link_to a.name, user_path(a.id) %></td></div>
              <% if user_signed_in? %>
                  <% if !(current_user == a) %>
                      <div>
                        <td>
                      <% if follow?(a) %>
                          <td><%= button_to "follow", follow_user_path(a.id), data: {confirm: "フォローしますか？"}, method: :follow %></td>
                      <% else %>
                          <td><%= button_to "unfollow", follow_destroy_user_path(a.id), data: {confirm: "フォローを外しますか？"}, method: :delete %></td>
                      <% end %>
                        </td>
                      </div>
                  <% end %>
                  </div>
              <% end %>
            </tr>
          </table>
      <% end %>
    </div>
  </div>
</div>