<div class="main">

  <h2>User一覧</h2>

  <div class="sidebar">
    <div>
      <h3>< Pickup ></h3>
      <% @articles_pn.each do |a| %>
          <li>
            <%= link_to a.title, article_path(a.id) %>
          </li>
      <% end %>
      <h3>< New ></h3>
      <% @articles_pn.each do |a| %>
          <li>
            <%= link_to a.title, article_path(a.id) %>
          </li>
      <% end %>
    </div>
  </div>

  <div class="contents">
    <div>
      <% @users.each do |a| %>
          <% if !(current_user == a) %>
              <li>
                <%= link_to a.name, user_path(a.id) %>
                <% if Friendship.where(:to_user_id => a.id).present? && Friendship.where(:from_user_id => current_user.id).present? %>
                    <%= link_to "unfollow", follow_destroy_user_path(a.id), data: {confirm: "フォローを外しますか？"}, method: :delete %>
                <% else %>
                    <%= link_to "follow", follow_user_path(a.id), data: {confirm: "フォローしますか？"}, method: :follow %>
                <% end %>
              </li>
          <% end %>
      <% end %>
    </div>
  </div>
</div>