<div class="main">

  <div class="contents">


    <% @user_articles.each do |article| %>
        <div class="user">
          <!--<td>-->
          <div><h4><%= link_to article.title, article_path(article.id) %></h4></div>
          <iframe width="300" height="200" src="<%= article.movie %>" frameborder="0" allowfullscreen></iframe>
          <% if user_signed_in? %>
              <% if favorite_article?(article) %>
                  <div><%= button_to "お気に入り", favorite_article_path(article.id), method: :favorite, data: {confirm: "お気に入りに追加しますか"} %></div>
              <% else %>
                  <div><%= button_to "お気に入り削除", favorite_destroy_article_path(article.id), method: :delete, data: {confirm: "削除していいですか？"} %></div>
              <% end %>
              <% if article_owner?(article) %>
                  <div><%= button_to "編集", edit_article_path(article.id), method: :get %></div>
                  <div><%= button_to "削除", article_path(article.id), method: :delete, data: {confirm: "削除していいですか？"} %>
              <% end %>
          <% end %>
          <!--</td>-->
          </div>
    <% end %>

  </div>

  <div><%= link_to "[Back]", user_path(@user.id) %></div>

</div>
</div>