<div class="main">
  <h2><%= @user.name + '_Mypage' %></h2>

  <div class="sidebar">
    <div>
      <h3>< New ></h3>
      <% @articles_new.each do |article| %>
          <li>
            <%= link_to article.title, article_path(article.id) %>
          </li>
      <% end %>
    </div>
  </div>

  <div>
    <%# if @user.image.present? %>
    <%= image_tag @user.image_url(:thumb) %>
    <%# end %>
  </div>

  <p>
    <% if user_signed_in? %>

        <% if !(current_user == @user) %>
            <% if Friendship.where(:to_user_id => @user.id).present? && Friendship.where(:from_user_id => current_user.id).present? %>
                <%= link_to "unfollow", follow_destroy_user_path(@user.id), data: {confirm: "フォローを外しますか？"}, method: :delete %>
            <% else %>
                <%= link_to "follow", follow_user_path(@user.id), data: {confirm: "フォローしますか？"}, method: :follow %>
            <% end %>
        <% end %>
    <% end %>

  </p>

  <p><%= link_to 'プロフィール編集', edit_user_registration_path %></p>

  <p><%= link_to "Artcle New", new_article_path %></p>

  <p><%= link_to "Favorite", favorites_articles_path if user_signed_in? %></p>


  <div class="contents">

    <%#- if false -%>

    <div>
      <p id="notice"><%= notice %></p>
      <strong>- Follow -</strong>
      <% @user.friends_of_from_user.each do |friend| %>
          <div><%= link_to friend.name, user_path(friend.id) %></div>
      <% end %>
    </div>
    <div>
      <strong>- Follower -</strong>
      <% @user.friends_of_to_user.each do |friend| %>
          <div><%= link_to friend.name, user_path(friend.id) %></div>
      <% end %>
    </div>

    <%#- end -%>
    <div>
      <h3>< My articles ></h3>
      <%#= render partial: "articles/article_list", locals: {articles: @articles} %>
      <% @user_articles.each do |article| %>
          <li>
            <%= link_to article.title, article_path(article.id) %>
            <% if user_signed_in? %>
                <% if favorite_article?(article) %>
                    <%= button_to "お気に入り削除", favorite_destroy_article_path(article.id), method: :delete, data: {confirm: "削除していいですか？"} %>
                <% else %>
                    <%= button_to "お気に入り", favorite_article_path(article.id), method: :favorite, data: {confirm: "お気に入りに追加しますか"} %>
                <% end %>
                <% if article_owner?(article) %>
                    <%= link_to "[編集]", edit_article_path(article.id) %>
                    <%= button_to "削除", article_path(article.id), method: :delete, data: {confirm: "削除していいですか？"} %>
                <% end %>
            <% end %>
          </li>
      <% end %>
    </div>
  </div>
</div>
