  <h2><%= @user.name %></h2>

  <div>
    <%= image_tag @user.image_url(:thumb) %>
  </div>

  <div>
    <% if user_signed_in? %>
        <% if current_user != @user %>
            <% if follow?(@user) %>
                <%= button_to "follow", follow_friendship_path(@user.id), data: {confirm: "フォローしますか？"}, method: :follow, class: 'btn btn-primary btn-xs' %>
            <% else %>
                <%= button_to "unfollow", unfollow_friendship_path(@user.id), data: {confirm: "フォローを外しますか？"}, method: :delete, class: 'btn btn-danger btn-xs' %>
            <% end %>
        <% end %>
    <% end %>
  </div>

    <% if current_user == @user %>
        <h5><%= link_to 'プロフィール編集', edit_user_registration_path %></h5>
    <% end %>

  <table class="table table-hover">
    <tr>
      <td><h4><%= link_to "お気に入り", favorite_list_favorite_path(@user.id) %></h4></td><td><%= @user.favorite_article.count %></td>
    </tr>
    <tr>
      <td><h4><%= link_to "フォロー", follow_list_friendship_path(@user.id) %></h4></td><td><%= @user.follow_user.count %></td>
    </tr>
    <tr>
      <td><h4><%= link_to "フォロワー", follower_list_friendship_path(@user.id) %></h4></td><td><%= @user.follower_user.count %></td>
    </tr>
    <tr>
      <td><h4><%= link_to @user.name + "さんの記事一覧", user_articles_user_path(@user.id) %></h4></td><td><%= @user_articles.count %></td>
    </tr>
  </table>
