<div class="main">

  <div class="sidebar">
    <div>
      <h3>< New ></h3>
      <% @articles_new.each do |a| %>
          <li>
            <%= link_to a.title, article_path(a.id) %>
          </li>
      <% end %>
    </div>
  </div>

  <h2> gracenote </h2>

  <div class="contents">

    <div>
      <%= form_tag({:action => "search"}, {:method => "get"}) do %>
          <p><%= label :artist, :artist %></p>
          <p><%= text_field_tag "artist", params[:artist] %></p>
          <p><%= label :album_title, :album_title %></p>
          <p><%= text_field_tag "album_title", params[:album_title] %></p>
          <p><%= label :track_title, :track_title %></p>
          <p><%= text_field_tag "track_title", params[:track_title] %></p>
          <p><%= submit_tag "検索" %></p>
      <% end %>

      取得結果<br/>
      <% @result.each do |rec| %>
          <div class="table">
          <table>
            <tr>
              <td width="180px">アルバムアーティスト名</td>
              <td><%= rec[:album_artist_name] %>
            </tr>
            <tr>
              <td>アルバムタイトル</td>
              <td><%= rec[:album_title] %></td>
            </tr>
            <tr>
              <td>ジャンル</td>
              <td>
                <% rec[:genre].each do |genre| %><%= genre[:text] + ' / ' %>
                <% end %></td>
            </tr>
            <tr>
              <td>ムード</td>
              <td>
                <% rec[:tracks].each do |track| %>
                    <% track[:mood].each do |mood| %>
                        <%= mood[:text] + " / " %>
                    <% end %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td>テンポ</td>
              <td>
                <% rec[:tracks].each do |track| %>
                    <% track[:tempo].each do |tempo| %>
                        <%= tempo[:text] + " / " %>
                    <% end %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td>説明</td>
              <td><%= link_to 'プロフィール情報', rec[:artist_image_url][1] %></td>
            </tr>
            <tr>
              <td>アルバムアート</td>
              <td><img src="<%= rec[:album_art_url][0] %>"/></td>
            </tr>
            <tr>
              <td>アーティスト画像</td>
              <td><img src="<%= rec[:artist_image_url][0] %>"/></td>
            </tr>
          </table>
          </div>
      <% end %>

      <br/>

    </div>

  </div>

</div>